body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.canvaswrap {
	display: block;
	position: absolute;
	width: 100%;
	
	top:0;
	left:0;
	
}

#gamecanvas{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
}

#floating {
	position: fixed;
	left: 5px;
	top: 42px;
	bottom:5px;
	z-index: 10;
}

#watchgame-modal{
	overflow-x: auto;
}

.optlist a {
	margin-top: 2px;
	margin-bottom: 2px;

	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
}

.playername {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}

.fullw {
	width: 100%;
}

.context-player {
	cursor: pointer;
}

#notation-toggle-text {
	position: absolute;
	left: 202px;
	top: 2px;
}

.toggle-text {
	border-radius: 2px;
	border: 2px solid #404040;
	border-radius: 5px;
	text-align: center;
	color: #c3c3c3;
	background-color: #404040;
	line-height: 12px;
	width: 19px;
	cursor:pointer;
	user-select:none;
}

#help-modal ul li ul {
	font-weight: bold;
}

#help-modal ul li ul li {
	font-weight: normal;
}

#settings-modal ul li ul {
	font-weight: bold;
}

#settings-modal ul li ul li {
	font-weight: normal;
}

.split-container-left {
	display: inline-block;
	overflow: hidden;
	width: 49%;
	padding-right: 15px;
	padding-bottom: 10px;
	vertical-align: top;
}

.split-container-right {
	display: inline-block;
	overflow: hidden;
	width: 49%;
	padding-left: 15px;
	padding-bottom: 10px;
	border-left: 1px solid #ddd;
	vertical-align: top;
}

input[type=checkbox] {
	vertical-align: middle;
	line-height: 14px;
	margin: 0px;
}

input[type=range] {
	vertical-align: middle;
	margin: 0px;
	display: inline-block;
	background: transparent;
	width: 50%;
}

input[type=range]::-moz-range-track {
	height: 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #ddd, 0px 0px 1px #fff;
}

input[type=range]::-ms-track {
	height: 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #ddd, 0px 0px 1px #fff;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 4px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #ddd, 0px 0px 1px #fff;
}

.radio-list-item {
	display: inline-block;
	margin: 0;
	width: auto;
}

.radio-list-item input[type=radio] {
	display: none;
}

.radio-list-img {
	margin: 0;
	border: 2px #fff solid;
	cursor: pointer;
}

.radio-list-item input[type=radio]:checked + .radio-list-img {
	border: 2px #88d solid;
}

.width-full {
	margin: 0 auto;
	width: 100%;
}

.height-full {
	margin: 0 auto;
	height: 100%;
}

.height-auto {
	height: auto;
}

#status {
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 10;
}

#rmenu {
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 5px;
	margin: 2px;
	width: 200px;
	text-align: left;
	overflow: hidden;
	background-color: #e7e7e7;
	top:0;
	bottom:0;
	left:0;
	position:absolute;
	display:flex;
	flex-direction:column;
	max-height:1200px;
}

#notationbar {
	border-top-style: solid;
	border-top-color: #888;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #888;
	border-bottom-width: 1px;
	background-color: #eee;
	height: 200px;
	overflow: auto;
	flex:1
}

#alertbox {
	position: absolute;
	bottom: 0px;
	left:0px;
	width: 100%;
	z-index: 8;
}

.alerts {
	width: 60%;
	margin: auto;
}

.alert {
	margin: 0px;
}

#moveslist {
	display: table;
	width: 150px;
}

#moveslist a {
	color: inherit;
	text-decoration: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.vertical-text {
	transform-origin: bottom right;
	transform: rotate(-90deg);
	float: left;
}

.modal {
	text-align: center;
}

.modal:before {
	display: inline-block;
	vertical-align: middle;
	content: " ";
	height: 100%;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.selected {
	background: red;
}

.unselected {
	background: grey;
}

.selectplayer {
	border-radius: 10px;
	background-color: #cccccc;
}

.white-player-color {
	color: #b3b3b3;
}
#player-me, #player-opp, .player1-name, .player2-name {
	display: inline-block;
	color: black;
	padding: 2px;
}

.border {
	border-radius : 20px;
	padding: 5px;
	margin: 2px;
	border : 2px solid black;
}

#moveslist tbody tr td + td {
	display: inline-block;
	height: 100%;
	width: 40%;
}

#moveslist tbody tr td {
	display: inline-block;
	height: 100%;
	width: 20%;
}

#moveslist tbody tr td a {
	display: block;
	height: 100%;
	width: 100%;
}

#moveslist tbody tr td a span {
	display: block;
	height: 100%;
	width: 100%;
}

#moveslist tbody tr td a span:hover {
	background-color: #c3c3c3;
}

.curmove {
	background-color: #c3c3c3;
}

.scrollable-menu {
	height: auto;
	max-height: 280px;
	overflow-x: hidden;
}

.botlevel {
	display: inline-block;
	width: 0;
	height: 0;
	font-size: 12px;
	color: #666;
	position: relative;
	top: 15px;
	padding-bottom: 30px;
}

.table {
	margin-bottom: 0;
}

#player-me-time, #player-opp-time {
	font-size: x-large;
}

a .fa:not(#undo):not(#draw) {
	color: black;
}

#zoomcontrols .fa {
	margin: 2px;
}

.request-undo, .offer-draw {
	color: black;
}

.i-requested-undo, .i-offered-draw {
	color: red;
}

.opp-requested-undo, .opp-offered-draw {
	color: blue;
}

@media (min-width: 768px){
	.navbar-nav > li > a{
		padding:8px;
	}
	.navbar{
		min-height:36px;
		margin-bottom:0px;
	}
	.navbar-btn {
		margin-top: 1px;
		margin-bottom: 1px;
	}
}

.hurrytime{
	color:#d00;
}

.col-sm-6-custom{
	position:relative;
	padding-right:15px;
	padding-left:15px;
	float:left;
	width:100%;
}
@media (min-width: 768px){
	.col-sm-6-custom{
		
	}
	.halfrow{
		display:inline-block;
		width:269px;
		height:280px;
	}
	.leftmost{
		margin-right:18px;
	}
}

.ratingup{
	color:red;
}
.ratingdown{
	color:green;
}
.ratingequal{
	color:#aaa;
}

#menubar{
	position:fixed;
	left:0;
	top:0;
	right:0;
	z-index:22;
	background-color:white;
	font:14px/24px arial;
	color:#333;
	overflow:hidden;
}
.singleline{
	height:36px;
}
.navright{
	float:right;
}
.navitem{
	border:none;
	padding:0 1px;
	margin:0 5px;
	background-color:transparent;
	height:36px;
	vertical-align:middle;
	display:inline-block;
}
div.navitem{
	line-height:36px;
}
.navitemlogin{
	border:1px solid #090;
	padding:0 2px;
	margin:3px 4px;
	background-color:#6f3;
	height:30px;
	vertical-align:middle;
	border-radius: 4px;
	width:80px;
}
.loggedin{
	background-color:white;
	border-color:#ccc;
}
.navicon{
	height:20px;
	vertical-align:middle;
}
#scratchlist{
	display:inline-block;
	position:fixed;
	top:36px;
	left:0;
	background-color:white;
	width:50px;
}
.scratchsize{
	/*height:31px;*/
	border:1px solid #ccc;
	border-top:none;
	line-height:30px;
}

/*
.rating{
	position:relative;
}

.rating:before{
	vertical-align: middle;
}
.unrated.rating:before {
	content: "?";
	color: #aaa;
}
.unrated.rating:after{ content: "This player is has no rating"; }

.stronger.rating:before {
	color: red;
}
.stronger.rating.level1:before { content: "🠕"; }
.stronger.rating.level2:before { content: "🠕🠕"; }
.stronger.rating.level3:before { content: "🠕🠕🠕"; }
.stronger.rating.level1:after { content: "This player is rated higher than you"; }
.stronger.rating.level2:after { content: "This player is rated a lot higher than you"; }
.stronger.rating.level3:after { content: "This player is rated significantly higher than you"; }

.weaker.rating:before {
	color: green;
}
.weaker.rating.level1:before { content: "🠗"; }
.weaker.rating.level2:before { content: "🠗🠗"; }
.weaker.rating.level3:before { content: "🠗🠗🠗"; }
.weaker.rating.level1:after { content: "This player is rated lower than you"; }
.weaker.rating.level2:after { content: "This player is rated a lot lower than you"; }
.weaker.rating.level3:after { content: "This player is rated significantly lower than you"; }

.even.rating:before {
	content: "≈";
	color: #aaa;
}
.even.rating:after{ content: "This player is rated roughly even with you"; }

Popup when hovering the rating. Text is set via content depending on stronger/weaker/even and level
.rating:after{
	padding: 2px;
	display:none;
	position: absolute;
	text-align: center;
	background-color: #fef4c5;
	border: 1px solid #d4b943;
	width: 320px;
	border-radius: 2px;
	z-index: 3;
	right:-200px;
	top:20px;
}
.rating:hover:after{
	display: block;
}
*/